*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Nunito', sans-serif;
}

.wrapper .off{
    display: none;
}

.body-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(12, 9, 163, 0.445);
}

.wrapper{
    width: 400px;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}

.wrapper .titulo {
    font-size: 3rem;
    padding: 16px 15px;
    color: lightskyblue;
    border-bottom: 1px solid gray;
    width: 400px;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}



.titulo i{
    cursor: pointer;
    font-size: 3rem;
    margin-right: 20px;
}



.wrapper .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
    
}

.contenedor__formulario{
   margin: 20px 25px 30px;
   
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 25px 25px;
    
}

.formulario :where(input, button) {
    border: none;
    width: 100%;
    height: 4rem;
    outline: none;
    border-radius: 5px;
    font-size: 2rem;
    margin: 5px;
}

.formulario input {
    border: 1px solid gray;
    text-align: center;

}

.formulario input:is(:focus, :valid){
    border: 2px solid lightskyblue ;
}

.formulario button {
    color: whitesmoke;
    background-color: cornflowerblue;
    cursor: pointer;
}

.informacion {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: burlywood;

}


 /* --------SECTION CLIMA-------- */
 
 
.wrapper .parte-clima{
    margin: 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}



.parte-clima img{
    width: 100px;
    height: 100px;
}

.parte-clima .temperatura{
    display: flex;
    font-size: 5rem;
    font-weight: 500;
}

.parte-clima .temperatura .numero{
    font-weight: 600;
}

.parte-clima .temperatura .grados{
    font-size: 2.5rem;
    margin: 10px 5px 0 0;
    display: block;
}

.parte-clima .clima{
    font-size: 2rem;
    text-align: center;
    margin: -5px 20px 15px;
}

.parte-clima .ubicacion{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.ubicacion i{
    font-size: 1.4rem;
    margin-right: 5px;
}

.parte-clima .fondo{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(192, 183, 183);
}

.fondo .columna{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 0;
    height: 75px;
}

.columna i{
    font-size: 40px;
    color: lightskyblue;
}

.columna.humedad{
   border-left: 1px solid #bfbfbf; 
}

.details .temperatura, .humedad span{
    font-size: 1.2rem;
    font-weight: 600;
}

.details .temperatura .grados{
    margin-right: 0;
    font-size: 17px;
    margin: 0;
}

.details p{
    font-size: 1.1rem;
    margin-top: -6px;
    font-weight: 600;
}